<%- include('../templates/head.ejs') %>

<%- include('../templates/header.ejs') %>
<main class="contenedor">
    <h2 class="centrar-texto productos">Nuestros Productos</h2>
    <section class="centrar-texto">
        <div class="galeria-img">
            <a class="img" href="#image-1">
                <img class="galeria" loading="lazy" src="/images/image-1.jpg" alt="img-queso">
            </a>
            <a class="img" href="#image-2">
                <img class="galeria" loading="lazy" src="/images/image-2.jpeg" alt="img-queso">
            </a>
            <a class="img" href="#image3">
                <img class="galeria" loading="lazy" src="/images/image3-queso.jpg" alt="img-queso">
            </a>
            <a class="img" href="#image4">
                <img class="galeria" loading="lazy" src="/images/image4-queso.jpg" alt="img-queso">
            </a>
            <a class="img" href="#">
                <img class="galeria" loading="lazy" src="/images/image-6.jpg" alt="img-queso">
            </a>
            <a class="img" href="#image5">
                <img class="galeria" loading="lazy" src="/images/image5-queso.png" alt="img-queso">
            </a>
        </div>
    </section>
</main>

<%- include('../templates/footer.ejs') %>