<footer class="footer">
    <div class="contenedor-footer">
        <div class="contenedor-icons">
            <div class="icons-footer">
                <a href="#"><i class="fa-brands fa-facebook icons"></i></a>
                <a href="#"><i class="fa-brands fa-instagram-square icons"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp-square icons"></i></a>
                <a href="#"><i class="fa-solid fa-envelope icons"></i></a>
            </div>
        </div>
        <div class="contenedor-icons footer-contacto">
            <p>Pedidos Bogotá:</p>
            <p>Keneddy, Patio Bonito</p>
            <p>Cel: 3115528581</p>
        </div>

    </div>
    <div class="copyright">
        <p class="text-copyright">Copyright &#169 2022, Todos los Derechos Reservados</p>
        <h6 class="designed">Designed by Milfer A. Muñoz</h6>
    </div>
</footer>
<script src="/js/bootstrap.min.js""></script>
</body>

</html>