<header class="header">
    <div class="contenido-texto">
        <div class="contenedor ">
            <div class="barra">
                <a href="index.html" class="logo">
                    <h1 class="logo__nombre no-margin centrar-texto">La<span class="logo__bold">Esmeralda</span>
                    </h1>
                </a>
                <nav class="navegacion">
                    <a href="/" class="navegacion__enlace">Inicio</a>
                    <a href="/nosotros" class="navegacion__enlace">Nosotros</a>
                    <a href="/contacto" class="navegacion__enlace">Contactanos</a>
                    <a href="/login" class="navegacion__enlace">Ingresar</a>

                </nav>
            </div>
        </div>
        <div class="header__texto ">
            <h2 class="no-margin centrar-texto">Quesos y Lacteos la Esmeralda</h2>
            <p class="no-margin centrar-texto texto-color">Queso doble crema semigraso semiduro</p>
        </div>
    </div>
</header>